<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .coloredHover{
            background-color: #bbb;
            color: white !important;
        }
    </style>

</head>
<body ng-app="addBlogApp" ng-controller="mainController" class="container">

    <form action="/add_blog" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title </label>
          <input type="text" class="form-control" id="title" name="title" ng-model="title" placeholder="Enter Title of the new blog">
        </div><br>
        <div class="form-group">
            <label for="content">Blog</label>
            <textarea class="form-control" id="content" name="content" ng-model="content" rows="20" placeholder="Blog Content ..."></textarea>
        </div><br>
        <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" id="state" name="state" ng-model="state" ng-options="x for x in statelist"></select>
        </div><br>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city" ng-model="city" placeholder="City" >
        </div><br>
<!-- 
        <label for="">Add Image</label>
        <button type="button" class="btn" ng-click="addPhoto()"  ng-class="{coloredHover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" > 
           
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="icons bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button><br><br>

        <div id="photosContainer">

        </div>
 -->
         <input multiple type="file" name="imgs" id="imgs" ng-model="imgs" accept="image/*"> 
        <br>
 
        <button type="submit" class="btn btn-primary"  >Create</button> <!-- ng-click="createBlog()" -->
    </form>


    <script>
        var app = angular.module("addBlogApp", []);
        app.controller("mainController", function($scope, $http) {

            $scope.statelist = ["State", "Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir",
              "Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura",
              "Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"
            ];  
            $scope.state = "State";

/*
            // alternate request to server
            $scope.hover = false;
            $scope.counter = 0;
            $scope.files = [];
 
            $scope.addPhoto = function(){
                $scope.counter += 1;
                var input = "<div class='form-group'><label for='"+$scope.counter+"'>Image No "+$scope.counter+" : &nbsp; </label>"+
                            "<input type='file' class='form-control-file' id='"+$scope.counter+"' ng-change='getFile(this)'></div> <br>";
                document.getElementById('photosContainer').innerHTML += input;
            }
 
            $scope.createBlog = function(){
                
                var uploadedFiles = document.getElementById('imgs').files;
                for(var i=0; i<uploadedFiles.length; i++){
                    $scope.files.push(uploadedFiles[i].name);
                }

                
                var data = {
                  "title" : $scope.title,
                  "content" : $scope.content,
                  "state" : $scope.state,
                  "city" : $scope.city,
                  "date" : new Date(),
                  "ratings" : [],
                  "comments" : [],
                  "file" : $scope.files
                };
                console.log(data);
          
                var config = { headers : { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' }};

                $http({
                    method : "POST",
                    url : "/add_blog",
                    data : data
                })
                .success(function (data, status, headers, config) {
                   if (data == "success")
                    window.location.href = "/login";
                })
                .error(function (data, status, header, config) {
                    $scope.ResponseDetails = "Data: " + data +
                        "<hr />status: " + status +
                        "<hr />headers: " + header +
                        "<hr />config: " + config;
                });

            }
*/

        });
    </script>
</body>
</html>