<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    
    <title>Chat</title>
</head>

<body class="" ng-app="chat" ng-controller="mainController">

    <nav class="py-0 m-0 d-flex flex-row navbar navbar-expand-md navbar-light bg-light" id="navbar">
        <div class="w-25">
            <a  href="/"><img src="../images/Picture1.png" alt="login" class="w-75" style="padding: 0; margin: 0; min-width: 200px;"> </a>
        </div>
        <button style="background-color: rgb(25, 46, 46); color: aliceblue; margin-right: 20px;" class="navbar-toggler font-weight-bold btn-info rounded mt-3" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
            <ul class="d-flex flex-row nav nav-pills navbar" id="nav-ul">
        
                <li ng-show="user">
                    <li class="mr-2 nav-item d-flex align-items-center" ng-show="user">
                        <a class="nav-link" href="">Signed in as <strong>{{ name }}</strong></a>
                    </li> 
    
                    <li class="mr-2 nav-item d-flex align-items-center" ng-show="user">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </li>
    
                <li ng-hide="user">
                    <li class="mr-2 nav-item d-flex align-items-center" ng-hide="user">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="mr-2 nav-item d-flex align-items-center" ng-hide="user">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </li>

                <li class="mr-2 nav-item d-flex align-items-center" ng-show="premium==true || admin==true">
                    <a class="nav-link" href="/chat">Chat</a>
                </li> 
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-12">
                <div class="text-center mt-4" style="display: flex; justify-content: space-around;">
                    <h2 class="text-center btn btn-lg btn-outline-primary">Bon Voyage</h2>
                    <button id="clear" ng-model="clearBtn" class="btn btn-danger" ng-show="admin">Clear Chat</button> 
                </div>
                
                <!-- <div id="status"></div> -->
                <div id="chat" class="p-4">
                  <!--   <input type="text" id="username" class="form-control" placeholder="Enter name...">
                    <br> -->
                    <div class="card">
                        <div ng-model="messages" id="messages" class="card-block d-flex flex-column">
                            
                        </div>
                    </div>
                    <br>
                    <textarea ng-model="Inputmsg" id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script>
        var app = angular.module("chat", []);
        app.controller("mainController", function($scope, $http) {
            $scope.user = false,  $scope.name = '';
            $scope.msgs = ['af', 12];

            $http({
                    method : "GET",
                    url : "/checksession"
                })
                .success(function (data, status, headers, config) {
                    if (data.sessions != null) {
                      $scope.user = true;
                      // IS ADMIN
                      if (data.sessions[0] == "000@wwg.com") {$scope.admin = true; $scope.name = "admin"}
                      else {$scope.admin = false; $scope.name = data.sessions[2];}

                        // IS Premium
                        if(data.sessions[1] == true || $scope.admin==true) {$scope.premium = true;}
                        else {window.location.href="/";}

                    } else {
                      window.location.href="/";
                    }

                })
                .error(function (data, status, header, config) {
                    $scope.ResponseDetails = "Data: " + data + "<hr />status: " + status + "<hr />headers: " + header +"<hr />config: " + config;
                });


            var element = function(id){
                return document.getElementById(id);
            } 

            // Get Elements
            // var status = element('status');
            var messages = element('messages');
            var textarea = element('textarea');
            var clearBtn = element('clear');

            // Set default status
            // var statusDefault = status.textContent;
            // console.log(statusDefault);

            // var setStatus = function(s){
            //     // Set status
            //     status.textContent = s;
            //     console.log("here", status);
            //     if(s !== statusDefault){
            //         var delay = setTimeout(function(){
            //             setStatus(statusDefault);
            //         }, 4000);
            //     }
            // }

            // Connect to socket.io
            var socket = io.connect('https://wherever-we-go.herokuapp.com:4000');

            // Check for connection
            if(socket !== undefined){
                console.log('Connected to socket...');

                // Handle Output
                socket.on('output', function(data){
                    console.log("output");
                    
                    //console.log(data);
                    if(data.length){
                        for(var x = 0 ;x < data.length;x++){
                            // Build out message div

                            if(data[x].name == $scope.name){
                                var messagebox = document.createElement('div');
                                var message = document.createElement('div');
                                var author = document.createElement('div');
                                var text = document.createElement('div');
                                author.textContent = data[x].name;
                                author.classList.add("author"); 
                                text.textContent = data[x].message;
                                text.classList.add("msgText"); 
                                message.classList.add("message");
                                messagebox.classList.add("ownmsg");
                                message.appendChild(author);
                                message.appendChild(text);
                                messagebox.appendChild(message);
                                messages.appendChild(messagebox);
                            }
                            else{
                                var message = document.createElement('div');
                                var author = document.createElement('div');
                                var text = document.createElement('div');
                                author.textContent = data[x].name;
                                author.classList.add("author"); 
                                author.classList.add("text-muted"); 
                                text.textContent = data[x].message;
                                text.classList.add("msgText"); 
                                message.classList.add("message");
                                message.appendChild(author);
                                message.appendChild(text);
                                messages.appendChild(message);
                            }
                            
                        } // for
                        messages.scrollTop = messages.scrollHeight;
                    }
                     
                });

                // Get Status From Server
                socket.on('status', function(data){
                    // get message status
                    console.log("data", data);
                    // setStatus((typeof data === 'object')? data.message : data);
                });
                
                socket.on('clearText', function(){
                    textarea.value = '';    
                });

                // Handle Input
                textarea.addEventListener('keydown', function(event){
                    if(event.which === 13 && event.shiftKey == false){
                        // Emit to server input
                        socket.emit('input', {
                            name: $scope.name,
                            message:textarea.value,
                            date : new Date()
                        });

                        event.preventDefault();
                    }
                })

                // Handle Chat Clear
                clearBtn.addEventListener('click', function(){
                    socket.emit('clear');
                });

                // Clear Message
                socket.on('cleared', function(){
                    messages.textContent = '';
                });
            }

        })

    </script>
</body>
</html>