<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <title>Chat</title>
</head>

<body class="" ng-app="chat" ng-controller="mainController">

    <nav class="py-0 mb-5 d-flex flex-row navbar navbar-expand-lg navbar-light bg-light">
        <div class="w-25">
            <a  href="/"><img src="../images/Picture1.png" alt="login" class="w-75" style="padding: 0; margin: 0;"> </a>
        </div>  
        <ul class="d-flex flex-row nav nav-pills navbar">
                            
            <li class="mr-2 nav-item d-flex align-items-center">
                <a class="nav-link" href="/">Home</a>
            </li>

            <!-- Premium -->
         
            <li>
                <li class="mr-2 nav-item d-flex align-items-center" ng-show="user">
                    <a class="nav-link" href="">Signed in as <strong>{{ name }}</strong></a>
                </li> 

                <li class="mr-2 nav-item d-flex align-items-center" ng-show="user">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </li>

            <li>
                <li class="mr-2 nav-item d-flex align-items-center" ng-hide="user">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="mr-2 nav-item d-flex align-items-center" ng-hide="user">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </li>
            
            
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-12">
                
                <h2 class="text-center">Discussions</h2>
                <div class="text-center" ng-show="admin" >
                    <button id="clear" ng-model="clearBtn" class="btn btn-danger">Clear Chat</button> 
                </div>
                <!-- <div id="status"></div> -->
                <div id="chat" class="p-4">
                  <!--   <input type="text" id="username" class="form-control" placeholder="Enter name...">
                    <br> -->
                    <div class="card">
                        <div ng-model="messages" id="messages" class="h-75 card-block d-flex flex-column">
                            
                        </div>
                    </div>
                    <br>
                    <textarea ng-model="Inputmsg" id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script>
        var app = angular.module("chat", []);
        app.controller("mainController", function($scope, $http) {
            $scope.user = false,  $scope.name = '';
            $scope.msgs = ['af', 12];

            $http({
                    method : "GET",
                    url : "/checksession"
                })
                .success(function (data, status, headers, config) {
                    console.log("data returned " ,data);
                    if (data.sessions != null) {
                      $scope.user = true;
                      // IS ADMIN
                      if (data.sessions[0] == "000@wwg.com") {$scope.admin = true; $scope.name = "admin"}
                      else {$scope.admin = false; $scope.name = data.sessions[2];}

                        // IS Premium
                        if(data.sessions[1] == "true" && $scope.admin==false) {$scope.premium = true;}
                        else {window.location.href="/";}

                    } else {
                      window.location.href="/";
                    }

                    console.log($scope.user, $scope.admin);
                })
                .error(function (data, status, header, config) {
                    $scope.ResponseDetails = "Data: " + data + "<hr />status: " + status + "<hr />headers: " + header +"<hr />config: " + config;
                });


            var element = function(id){
                return document.getElementById(id);
            } 

            // Get Elements
           // var status = element('status');
            var messages = element('messages');
            var textarea = element('textarea');
            var clearBtn = element('clear');

            // Set default status
            var statusDefault = status.textContent;

            var setStatus = function(s){
                // Set status
                status.textContent = s;

                if(s !== statusDefault){
                    var delay = setTimeout(function(){
                        setStatus(statusDefault);
                    }, 4000);
                }
            }

            // Connect to socket.io
            var socket = io.connect('http://127.0.0.1:4000');

            // Check for connection
            if(socket !== undefined){
                console.log('Connected to socket...');

                // Handle Output
                socket.on('output', function(data){
                    
                    //console.log(data);
                    if(data.length){
                        for(var x = 0 ;x < data.length;x++){
                            // Build out message div

                            if(data[x].name == $scope.name){
                                var messagebox = document.createElement('div');
                                var message = document.createElement('div');
                                var author = document.createElement('div');
                                var text = document.createElement('div');
                                author.textContent = data[x].name;
                                author.classList.add("author"); 
                                text.textContent = data[x].message;
                                text.classList.add("msgText"); 
                                message.classList.add("message");
                                messagebox.classList.add("ownmsg");
                                message.appendChild(author);
                                message.appendChild(text);
                                messagebox.appendChild(message);
                                messages.appendChild(messagebox);
                                console.log("ara");
                            }
                            else{
                                var message = document.createElement('div');
                                var author = document.createElement('div');
                                var text = document.createElement('div');
                                author.textContent = data[x].name;
                                author.classList.add("author"); 
                                author.classList.add("text-muted"); 
                                text.textContent = data[x].message;
                                text.classList.add("msgText"); 
                                message.classList.add("message");
                                message.appendChild(author);
                                message.appendChild(text);
                                messages.appendChild(message);
                            }
                            
                        } // for
                        messages.scrollTop = messages.scrollHeight;
                    }
                     
                });

                // Get Status From Server
                socket.on('status', function(data){
                    // get message status
                    setStatus((typeof data === 'object')? data.message : data);

                    // If status is clear, clear text
                    if(data.clear){
                        textarea.value = '';
                    }
                });

                // Handle Input
                textarea.addEventListener('keydown', function(event){
                    if(event.which === 13 && event.shiftKey == false){
                        // Emit to server input
                        socket.emit('input', {
                            name: $scope.name,
                            message:textarea.value,
                            date : new Date()
                        });

                        event.preventDefault();
                    }
                })

                // Handle Chat Clear
                clearBtn.addEventListener('click', function(){
                    socket.emit('clear');
                });

                // Clear Message
                socket.on('cleared', function(){
                    messages.textContent = '';
                });
            }

        })

            


    </script>
</body>
</html>