* { box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}
body{
  background: #44A08D;  
  background: -webkit-linear-gradient(to right, #093637, #44A08D);  
  background: linear-gradient(to right, #093637, #44A08D);
}
.error{
  color: white;
}

a
{
  float: right;
  color: white;
}

a:hover, a:focus, a:active, a:visited {
  color: azure;
}


.header > h2 {
  margin: 0;
  color: rgb(255, 255, 255);
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.form {
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Dosis', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #01ffb3 0%,#0084ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Dosis', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .2s;
  animation-fill-mode: both;
}

.a1 {
  animation-delay: 1s;
}

.a2 {
  animation-delay: 1.2s;
}

.a3 {
  animation-delay: 1.4s;
}

.a4 {
  animation-delay: 1.6s;
}

.a5 {
  animation-delay: 1.8s;
}

.a6 {
  animation-delay: 2.0s;
}

.a7 {
  animation-delay: 2.2s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

body {
  align-items: center;
  justify-content: center;
}

#logincontainer {
  margin-left: 10%;
  display: flex;
  flex-flow: row wrap;
}

#regcontainer {
  margin-left: 10%;
  display: flex;
  flex-flow: row wrap;
}

#loginimage {
  margin-top: 80px;
  height: 430px;
  border-radius: 20px;
}

#regimage {
  margin-top: 130px;
  height: 530px;
  border-radius: 20px;
}

.logincard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border : 2px solid grey;
  border-radius: 20px;
  padding: 25px;
  width: auto;
  margin-top: 80px;
  margin-right: 75px;
  height: fit-content;
}

.regcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border : 2px solid grey;
  border-radius: 20px;
  padding: 25px;
  width: auto;
  margin-top: 80px;
  margin-right: 75px;
  max-height: 630px;
}


@media screen and (max-width: 700px) {
  #loginimage {
      display: none;
  }
}