* { box-sizing: border-box; }

.container {
  display: flex;
  height: 100vh;
}
body{
  font-family: 'Dosis', sans-serif;
  /*background: linear-gradient(to right, #051935, #28bed8); */
  align-items: center;
  justify-content: center;
}
.error{
  color: rgb(219, 21, 21);
}

a {
  float: right;
  color: rgb(17, 3, 3);
}

a:hover, a:focus, a:active, a:visited {
  color: rgb(0, 2, 2);
}


.header > h2 {
  margin: 0;
  color: rgb(22, 2, 2);
  font-weight: bolder;
}

.header > h4 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(19, 2, 2);
}

.form {
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid rgb(150, 146, 146);
  border-radius: 4px;
  font-family: 'Dosis', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #4d4f52;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #176f97 0%,#55b2ce 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Dosis', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .2s;
  animation-fill-mode: both;
}

.a1 {
  animation-delay: 1s;
}

.a2 {
  animation-delay: 1.2s;
}

.a3 {
  animation-delay: 1.4s;
}

.a4 {
  animation-delay: 1.6s;
}

.a5 {
  animation-delay: 1.8s;
}

.a6 {
  animation-delay: 2.0s;
}

.a7 {
  animation-delay: 2.2s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

#logincontainer {
  margin-left: 10%;
  display: flex;
  flex-flow: row wrap;
}

#regcontainer {
  margin-left: 10%;
  display: flex;
  flex-flow: row wrap;
}

#loginimage {
  margin-top: 20px;
  height: 430px;
  border-radius: 20px;
}

#regimage {
  margin-top: 20px;
  height: 530px;
  border-radius: 20px;
}

.logincard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border : 2px solid rgb(14, 4, 4);
  border-radius: 20px;
  padding: 25px;
  width: auto;
  margin-top: 20px;
  margin-right: 75px;
  height: fit-content;
}

.regcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border : 2px solid rgb(7, 1, 1);
  border-radius: 20px;
  padding: 25px;
  width: auto;
  margin-top: 15px;
  margin-right: 75px;
  max-height: 630px;
  max-width: 450px;
}


@media screen and (max-width: 700px) {
  #loginimage {
      display: none;
  }
}