
.flex {
    display: flex;
    flex-flow: row wrap;
}

.between {
    justify-content: space-between;
}


body {
    background-color: azure;
    overflow-x: hidden;
    font-family: 'Trebuchet MS';
}

.sidebar {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.2);
}

.card {
    margin: 20px;
    width: 250px;
}

.card-body {
    background-color: snow;
    padding: 0;
    padding-top: 10px;
}

.pr a, span {
    color: white;
    text-decoration: none;
}

.lab {
    margin: 8px;
}
